%h1 Cootie Catcher!
%div{:id=>"progress"}
  %div{:id=>"stage1", :class=>"progressStage"}
  %div{:id=>"stage2", :class=>"progressStage"}
  %div{:id=>"stage3", :class=>"progressStage"}
%div{:id=>"instructions"} Pick a color.
%div{:style=>"", :id=>"closed"}
  %div{:class=>"cootieRow1"}
    %a{ :href=>"javascript: playCootie('red');" }
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/red.png"}
    %a{ :href=>"javascript: playCootie('green');" }
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/green.png"}
  %div{:class=>"cootieRow2"}
    %a{ :href=>"javascript: playCootie('blue');" }
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/blue.png"}
    %a{ :href=>"javascript: playCootie('yellow');" }       
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/yellow.png"}
%div{:style=>"display:none;", :id=>"tall"}
  %div{:class=>"cootieRow1"}
    %a{:href=>"javascript: playCootie(2)"}
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/2.png"}
    %a{:href=>"javascript: playCootie(5)"}
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/5.png"}
  %div{:class=>"cootieRow2"}
    %a{:href=>"javascript: playCootie(1)"}
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/1.png"}    
    %a{:href=>"javascript: playCootie(6)"}
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/6.png"}
%div{:style=>"display:none;", :id=>"wide"}
  %div{:class=>"cootieRow1"}
    %a{:href=>"javascript: playCootie(3)"}
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/3.png"}
    %a{:href=>"javascript: playCootie(4)"}
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/4.png"}
  %div{:class=>"cootieRow2"}
    %a{:href=>"javascript: playCootie(8)"}
      %div{:class=>"cootieLeftCell"}
        %img{:src=>"/images/8.png"}
    %a{:href=>"javascript: playCootie(7)"}
      %div{:class=>"cootieRightCell"}
        %img{:src=>"/images/7.png"}
%p{:style=>"display:none", :id=>"play again"}
  %a{:href=>"game"} Play again!






